<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dimensions.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Dimensions.Client.Properties.Settings>
            <setting name="SpecSheetKeys" serializeAs="String">
                <value>spec,表侧</value>
            </setting>
            <setting name="HeaderSheetKeys" serializeAs="String">
                <value>header,topbreak,banner,表头</value>
            </setting>
            <setting name="HighFactorKeys" serializeAs="String">
                <value>increase,enhance,improve,raise,heighten,增加,提高,首选,非常相符,非常了解,唯一考虑,首先考虑,唯一,第一选择,第一</value>
            </setting>
            <setting name="NetKeys" serializeAs="String">
                <value>net,nets</value>
            </setting>
            <setting name="TopBottomKeys" serializeAs="String">
                <value>t2b,top2,t3b,top3,b2b,bottom2,b3b,bottom3,nps,topbox,tb</value>
            </setting>
            <setting name="AverageKeys" serializeAs="String">
                <value>average,平均提及,均值,mean</value>
            </setting>
            <setting name="AutoRemoveHeaderType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeaderRowCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AddSubGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueryShowValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixedLabelKeys" serializeAs="String">
                <value>名字,name</value>
            </setting>
            <setting name="FixedNameKeys" serializeAs="String">
                <value>题号,question</value>
            </setting>
            <setting name="FixedBaseKeys" serializeAs="String">
                <value>基数,base</value>
            </setting>
            <setting name="FixedTopBottomKeys" serializeAs="String">
                <value>top/bottom,top,bottom</value>
            </setting>
            <setting name="FixedMeanKeys" serializeAs="String">
                <value>mean/std,mean,std</value>
            </setting>
            <setting name="FixedRemarkKeys" serializeAs="String">
                <value>note,remark</value>
            </setting>
            <setting name="FixedSummaryKeys" serializeAs="String">
                <value>summary</value>
            </setting>
            <setting name="FixedValueKeys" serializeAs="String">
                <value>value,赋值</value>
            </setting>
            <setting name="FixedAverageKeys" serializeAs="String">
                <value>average,平均提及</value>
            </setting>
            <setting name="LoadWithFixedHeaderType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HorizenHeader" serializeAs="String">
                <value>False</value>
            </setting>
        </Dimensions.Client.Properties.Settings>
    </userSettings>
</configuration>
